.checkoutbtn{
    margin: auto;
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
gap: 1em;}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 10px;
    margin: auto;
    margin-right: 3em;
    /* width: 5rem; */
    box-shadow: 7px 11px 27px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 11px 27px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 11px 27px -9px rgba(0,0,0,0.75);
    margin-top: 6rem;
}

#newemployee{
margin: auto;
text-decoration: none;
list-style: none;
}
#radio_btn {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-radius: 15px;

}

h1,
h2 {
    text-align: center;
    font-size: 1em;
}

p {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* border: 1px solid black; */
    height: 1.2rem;
}

.reg_forms {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding-top: 5rem;
    margin: auto;
}

input {
    border-radius: 5px;
}

.search {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}

.findg {
    padding-top: 20px;
}

.findb{
    /* padding-top: 20px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;  */
    /* justify-content: center; */
    padding-left: 40rem;
}

.findbooking1{
    display: flex;
    flex-direction: column;
    gap: 0.2em
}
.listbooking1{
    display: flex;
    flex-direction: column;
    gap: 0.4em

}
a{
    color: black;

}

.findbtn{
    border-radius: 5px;
}