

.guest_page{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 3rem;
    /* justify-content: space-between; */

}
.element:hover{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    transform: scale(1.5);
    opacity: 1;
}
.room_info{
    border-radius: 10px;
    padding: 3rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    box-shadow: 11px 8px 15px -1px rgba(107,70,70,0.75);
-webkit-box-shadow: 11px 8px 15px -1px rgba(107,70,70,0.75);
-moz-box-shadow: 11px 8px 15px -1px rgba(107,70,70,0.75);
opacity: 1;
}

.wholepage{
    /* justify-content: center; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.logoutbutton{
    border-radius: 15px;
    margin-right: 10rem;
    margin-top: 3rem;
    height: 3em;
    width: 6em;
    cursor: pointer;

}
li{
    text-decoration: none;
}

.guest_timer{

border-radius: 20px;
border: 1px solid black;
text-align: center;
padding: 5% 5% 5% 5% ;
margin-top: 5%;
}
