body {
	margin: 0;
	/* height: 110vh; */
	 display: flex;
	/* background: linear-gradient(to left top, lightblue,violet, lightblue,rgba(0, 0, 255, 0.869)); */
	/* background-repeat: repeat; */
	background-color: aliceblue;
}

h1, h2{
	text-align: center;
}
img{
	box-shadow: 5px 8px 16px -1px rgba(0,0,0,0.77);
-webkit-box-shadow: 5px 8px 16px -1px rgba(0,0,0,0.77);
-moz-box-shadow: 5px 8px 16px -1px rgba(0,0,0,0.77);
	display: flex;
	justify-content: center;
	height: 20rem;
	width: 35rem;
	border-radius: 10px;
}

nav ul {
	list-style-type: none;
	padding: 0;
    
}

nav ul li {
    border-radius: 15px;
	font-size: 40px;
	font-family: sans-serif;
	background-color: white;
	/* border: 2px solid black; */
	letter-spacing: 0.1em;
	width: 5em;
	height: 1.5em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
    box-shadow: 5px 8px 16px -1px rgba(0,0,0,0.77);
-webkit-box-shadow: 5px 8px 16px -1px rgba(0,0,0,0.77);
-moz-box-shadow: 5px 8px 16px -1px rgba(0,0,0,0.77);
}

nav ul li span {
	color: white;
	mix-blend-mode: difference;
}

nav ul li::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: black;
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

nav ul li:hover::before {
	transform: scale(7);
}
nav{
    position: fixed;
}
a{
    text-decoration: none;
    color: wheat;
}

section{
    display: flex;
    margin: auto;
    flex-direction: column;
    position: relative;
}