<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" src="/models/user_passModel.js" defer></script>
</head>
<body>
  
  <nav1>
    <a href="/findbooking">FIND BOOKING </a>
    <a href="/adminguest">GUEST REGISTRATION</a>
    <a href="/adminemployee">HIRE EMPLOYEES</a>
      <a  href="/login" >Logout</a>
    <div id="indicator"></div>

  </nav1>
  
    
    </script>
    
</body>
</html>