<script src="/models/user_passModel.js"></script>
<nav1>
    <a href="/findbooking">FIND BOOKING </a>
    <a href="/adminguest">GUEST REGISTRATION</a>
    <a href="/adminemployee">HIRE EMPLOYEES</a>
    <a onclick="offline()">Logout</a>
    <div id="indicator"></div>
  </nav1>