<!-- cijena sobe no noci i provjera je li slobondno u js i da zakljuca opciju
            ako je zauzeta, skontat da li
        moze da se kopira dio koda na klik butona ako ima vise gostiju
    problem vise gostiju 
            ako je inactive gost ne moze pristupiti sa sifrom, u js napraviti
            napraiti da ispise sve sobe i ko je u njima u novoj stranici

            racun ici na ispis samo kao i ispis checkout..
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Adis Aljic">
    <title>Imaginery hotel</title>
    <script src="../js/user_pass.js" defer></script>
    <script src="../server1.js" defer></script>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/admin_guest.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <%- include ("./partials/nav.ejs") %>


        <div class="reg_forms">

            <div>
                 
                <h1>Guest registration</h1>
                <form action="./adminGuest" method="post">
                    <label for="first_name">First Name</label>
                    <input type="text" id="first_name" name="first_name">
                    <label for="last_name">Last Name</label>
                    <input type="text" id="last_name" name="last_name">
                    <label for="date_of_birth">Date of birth</label>
                    <input type="date" id="date_of_birth" name="date_of_birth">
                    <label for="country">Country</label>
                    <input type="text" id="country" name="country">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city">
                    <label for="phone_number">Phone number</label>
                    <input type="text" id="phone_number" name="phone_number">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                    <h1>Gender</h1>
                    <div id="radio_btn">
                        <input type="radio" id="gender" name="gender" value="M">
                        <label for="gender">Male</label>
                        <input type="radio" id="gender" name="gender" value="F">
                        <label for="gender">Female</label>
                        <input type="radio" id="gender" name="gender" value="O">
                        <label for="gender">Other</label>
                    </div>
                    <h1>Prefered Languages</h1>
                    <div id="radio_btn">
                        <input type="radio" id="prefered_language" name="prefered_language" value="Bosnian">
                        <label for="prefered_language">Bosnian</label>
                        <input type="radio" id="prefered_language" name="prefered_language" value="English">
                        <label for="prefered_language">English</label>
                    </div>
                    <h1>Indefication document</h1>
                    <div id="radio_btn">
                        <input type="radio" id="document_for_indefication" name="document_for_indefication"
                            value="Passport number">
                        <label for="document_for_indefication">Passport number</label>
                        <input type="radio" id="document_for_indefication" name="document_for_indefication"
                            value="ID Card number">
                        <label for="document_for_indefication">ID Card</label>
                        <input type="radio" id="document_for_indefication" name="document_for_indefication"
                            value="Social security number">
                        <label for="document_for_indefication">Social security number</label>

                    </div>
                    <br>
                    <label for="number_of_document_for_indefication">Number of document</label>
                    <input type="text" name="number_of_document_for_indefication"
                        id="number_of_document_for_indefication">

                    <br>
                    <hr>

                    <h1>Generate username and password</h1>

                    <div>
                        <p id="guest_username"></p>
                        <input type="text" name="username" id="guest_username">
                        <button type="button" id="guest_username" onclick="generate_username()">Generate
                            username</button>
                    </div>
                    <div>

                        <p id="guest_password"></p>
                        <input type="text" name="password" id="guest_password">
                        <button type="button" id="guest_password" onclick="generate_password()">Generate
                            password</button>
                    </div>
                    <br>
                    <hr>
                    <h1>Type of room</h1>
                    <label for="room_type">
                        <input class="radio" type="radio" id="room_type" name="price_per_night" value="20">
                        Single bed</label>
                        <label for="room_type">
                            <input class="radio" type="radio" id="room_type" name="price_per_night" value="40">
                            Twin bed</label>
                            <label for="room_type">
                                <input class="radio" type="radio" id="room_type" name="price_per_night" value="50">
                                Apartment</label>
                    <h1>Choose room number</h1>
                    <h2>Single bed</h2>

                    <label for="type_of_room">
                        <input class="radio" type="radio" id="room_number" name="room_number" value="101">Room
                        101</label>

                    <label for="type_of_room">
                        <input type="radio" id="room_number" value="102" name="room_number">Room 102</label>
                    
                        <h2>Twin bed</h2>
                    <label for="type_of_room">
                    <input type="radio" id="room_number" value="201" name="room_number">Room 201</label>

                    <label for="type_of_room">
                        <input type="radio" id="room_number" value="202" name="room_number">Room 202</label>
                           
                        <h2>Apartment</h2>
                        <label for="type_of_room">
                            <input type="radio" id="room_number" value="301" name="room_number">Room 301</label>
                            <label for="type_of_room">
                                <input type="radio" id="room_number" value="302" name="room_number">Room 302</label>
                                 
            
                                   
                                    <hr>
                                    <label for="check_in_date">Check in date</label>
                                    <input type="date" name="check_in_date" id="check_in_date">
                                    <label for="check_out_date">Check out date</label>
                                    <input type="date" name="check_out_date" id="check_out_date">
                                    <br>
                                    <hr>
                                    <h1>Additional services</h1>
                                    <div>
                                        <div>
                                            <h2>Sauna</h2>
                                            <label for="date_from_sauna">Choose date from</label>
                                            <input type="date" id="date_from_sauna" name="date_from_sauna">
                                            <label for="date_to_sauna">Choose date to</label>
                                            <input type="date" id="date_to_sauna" name="date_to_sauna">


                                        
                                            <h2>Restaurant</h2>
                                            <label for="date_from_restaurant">Choose date from</label>
                                            <input type="date" id="date_from_restaurant" name="date_from_restaurant">
                                            <label for="date_to_restaurant">Choose date to</label>
                                            <input type="date" id="date_to_restaurant" name="date_to_restaurant">

                                        
                                            <h2>Gym</h2>
                                            <label for="date_from_gym">Choose date from</label>
                                            <input type="date" id="date_from_gym" name="date_from_gym">
                                            <label for="date_to_gym">Choose date to</label>
                                            <input type="date" id="date_to_gym" name="date_to_gym">

                                      
                                            <h2>Pool</h2>
                                            <label for="date_from_pool">Choose date from</label>
                                            <input type="date" id="date_from_pool" name="date_from_pool">
                                            <label for="date_to_pool">Choose date to</label>
                                            <input type="date" id="date_to_pool" name="date_to_pool">

                                   
                                            <h2>Cinema</h2>
                                            <label for="date_from_cinema">Choose date from</label>
                                            <input type="date" id="date_from_cinema" name="date_from_cinema">
                                            <label for="date_to_cinema">Choose date to</label>
                                            <input type="date" id="date_to_cinema" name="date_to_cinema" >

                                        </div>
                                        <br>
                                    </div>
                                    <button class="sub_butt" type="submit" onsubmit="window.location.reload" >Submit</button>
                </form>
                <br>


            </div>

            <%- include ("./partials/nav1.ejs") %>

</body>

</html>