<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author = "Adis Aljic">
    <title>Login</title>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
    <!-- <script src="../js/login.js" defer></script> -->
</head>
<body>
    <div>
        
        <%- include ("./partials/nav.ejs") %>
    </div>
    <div class="all1">
      
<div class="all">
    <form method="post" action="/adminlogin" id="login-form" class="login-form" autocomplete="on" role="main">
                <h1>Employees Log in</h1>
                <h1 class="a11y-hidden">Login Form</h1>
                <div>
                    <label class="label-email">
                        <input type="text" class="text" name="username_employees" placeholder="Username" tabindex="1" required />
                        <span class="required">Employee Username</span>
                </label>
            </div>
          
        </label>
        <div>
          <label class="label-password">
              <input type="password" class="text" name="password_employees" placeholder="Password" tabindex="2" required />
              <span class="required">Password</span>
            </label>
        </div>
        <input type="submit" value="Log In" />
        <div class="email">
            <a href="/contact">Forgot password?</a>
        </div>
        <figure aria-hidden="true">
            <div class="person-body"></div>
            <div class="neck skin"></div>
            <div class="head skin">
                <div class="eyes"></div>
                <div class="mouth"></div>
            </div>
            <div class="hair"></div>
            <div class="ears"></div>
            <div class="shirt-1"></div>
            <div class="shirt-2"></div>
        </figure>
    </form>
</div>
    
</div>
    
    <!-- <h1>login for user</h1>
        <form action="/login" method="post">
            <label for="user">username</label>
            <input type="text" name="username_guest">
            <label for="pass">password</label>
            <input type="text" name="password_guest">
            <button type="submit">send</button>
        </form>
        <h2>login for employees</h2>
        <form action="/login" method="post">
            <label for="user">username</label>
            <input type="text" name="username_employees">
            <label for="pass">password</label>
            <input type="text" name="password_employees">
            <button type="submit">send</button>
        </form>
    </section> -->


</body>
</html>