<!-- cijena sobe no noci i provjera je li slobondno u js i da zakljuca opciju
            ako je zauzeta, skontat da li
        moze da se kopira dio koda na klik butona ako ima vise gostiju
    problem vise gostiju 
            ako je inactive gost ne moze pristupiti sa sifrom, u js napraviti
            napraiti da ispise sve sobe i ko je u njima u novoj stranici

            racun ici na ispis samo kao i ispis checkout..
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Adis Aljic">
    <title>Imaginery hotel</title>
    <script src="../js/user_pass.js" defer></script>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/admin_guest.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <%- include ("./partials/nav.ejs") %>


        <div class="reg_forms">

            <div>
                <form action="./adminGuestAditionalServices" method="post">

                    <h1>Additional services</h1>
                    <div>
                        <div>
                            <h2>Sauna</h2>
                            <label for="date_from_sauna">Choose date from</label>
                            <input type="date" id="date_from_sauna" name="date_from_sauna">
                            <label for="date_to_sauna">Choose date to</label>
                            <input type="date" id="date_to_sauna" name="date_to_sauna">


                        </div>
                        <div>
                            <h2>Restaurant</h2>
                            <label for="date_from_restaurant">Choose date from</label>
                            <input type="date" id="date_from_restaurant">
                            <label for="date_to_restaurant">Choose date to</label>
                            <input type="date" id="date_to_restaurant">

                        </div>
                        <div>
                            <h2>Gym</h2>
                            <label for="date_from_gym">Choose date from</label>
                            <input type="date" id="date_from_gym">
                            <label for="date_to_gym">Choose date to</label>
                            <input type="date" id="date_to_gym">

                        </div>
                        <div>
                            <h2>Pool</h2>
                            <label for="date_from_pool">Choose date from</label>
                            <input type="date" id="date_from_pool">
                            <label for="date_to_pool">Choose date to</label>
                            <input type="date" id="date_to_pool">

                        </div>
                        <div>
                            <h2>Cinema</h2>
                            <label for="date_from_cinema">Choose date from</label>
                            <input type="date" id="date_from_cinema">
                            <label for="date_to_cinema">Choose date to</label>
                            <input type="date" id="date_to_cinema">

                        </div>
<br>
                    </div>
                        <button class="sub_butt" type="submit" onClick="window.open('./newguest')"">Submit</button>
                </form>
            </div>
        </div>





      

        <%- include ("./partials/nav1.ejs") %>

</body>

</html>