<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta author="Adis Aljic">
  <title>Booking</title>

  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/booking.css">
  <!-- <link rel="stylesheet" href="../css/admin_guest.css"> -->
</head>

<body>
    <%- include ("./partials/nav.ejs") %>
<!-- ubaciti kalendar da cita slobodne datume -->

  <form action="">
    <h1>Booking information</h1>
    <h2>After submiting form our hotel will contact you via email or by phone</h2>
    <label for="first_name">First Name</label>
    <input type="text" id="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name">
    <label for="phone_number">Phone number</label>
    <input type="text" id="phone_number">
    <label for="email">Email</label>
    <input type="email" id="email">

    <h1>Prefered Languages</h1>
    <div id="radio_btn">
      <input type="radio" id="prefered_languages" name="language" value="Bosnian">
      <label for="prefered_languages">Bosnian</label>
      <input type="radio" id="prefered_languages" name="language" value="English">
      <label for="prefered_languages">English</label>
    </div>
   
    <label for="check_in_date">Check in date</label>
    <input type="date" id="check_in_date">
    <label for="check_out_date">Check out date</label>
    <input type="date" id="check_out_date">
    <h1>Aditional Services</h1>
<div id="radio_btn">

  <label for="aditional_services">
    <input type="checkbox" id="aditional_services" value="Pool">Pool</label>
    
    <label for="aditional_services">
      <input type="checkbox" id="aditional_services" value="Restaurant">Restaurant</label>
    
      <label for="aditional_services">
    <input type="checkbox" id="aditional_services" value="Cinema">Cinema</label>
   
    <label for="aditional_services">
      <input type="checkbox" id="aditional_services" value="Gym">Gym</label>
   
      <label for="aditional_services">
        <input type="checkbox" id="aditional_services" value="Sauna">Sauna</label>
      </div>
        <h1>Choose type of room</h1>
        <div>
          <div id="radio_btn">
        <input type="radio" id="type_of_room" name="type_of_room" value="Single Bed">
        <label for="type_of_room">Single Bed</label>
        <input type="radio" id="type_of_room" name="type_of_room" value="Twin Bed">
        <label for="type_of_room">Twin Bed</label>
        <input type="radio" id="type_of_room" name="type_of_room" value="Apartment">
        <label for="type_of_room"> Apartment</label>

      </div>
      
    </div>
    <br>
    <h1>Aditional information</h1>
    <textarea name="comment" id="booking_msg" cols="30" rows="10"></textarea>
  
    </div>
    </div>
    <br>
    <button class="sub_butt" type="submit">Submit</button>
  </form>


</body>

</html>