        <!-- cijena sobe no noci i provjera je li slobondno u js i da zakljuca opciju
            ako je zauzeta, skontat da li
        moze da se kopira dio koda na klik butona ako ima vise gostiju
    problem vise gostiju 
            ako je inactive gost ne moze pristupiti sa sifrom, u js napraviti
            napraiti da ispise sve sobe i ko je u njima u novoj stranici

            racun ici na ispis samo kao i ispis checkout..
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Adis Aljic">
    <title>Imaginery hotel</title>
    <script src="../js/user_pass.js" defer></script>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/admin_guest.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- <%- include ("./partials/nav2.ejs") %> -->


    <div class="findb">
      
      <form class="search" action="./findbooking" method="post">
        <div class="checkoutbtn">
          <div class="findbooking1">
            
            <h1> Find booking</h1>
            <br>
            <input type="text" placeholder="Search.." name="search" id="search_booking">
            <select name="find" id="find" >
              <option value="choose"  >Choose option</option>
              <option value="username" >Username</option>
              <option  value="passport">Passport</option>
              <option  value="social_security">Social security number</option>
              <option value="card_id" >Card id</option>
            </select>
    <div class="listbooking1">
    <br>

    <span><hr><br></span>

        <button type="button" class="findbtn"> <a href="/listallbooked">List all booking</a> </button>
      <button type="button" class="findbtn"><a  href="/listbooked">List current booking</a> </button>
  </div>
  <br>
  
  
  <button type="submit" id="search_booking"><i class="fa fa-search"></i></button>
</div>
</div>
</div>
</form> 

  
 
</div>

     <%- include ("./partials/nav1.ejs") %>


</body>
</html>