<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author = "Adis Aljic">
    <title>Imaginery hotel</title>

    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <%- include ("./partials/nav.ejs") %>

      <section id="home">
        <h1>Welcome to imaginery hotel</h1>
<img src="../pictures/hotel.jpg" alt="Hotel" srcset="">
          <h2>About us</h2>
        <p>Our hotel maybe is not real, but that is not reason that you don't spend your money here ....</p>
      </section>
 


</body>
</html>