<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author = "Adis Aljic">
    <title>Login</title>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
    <!-- <script src="../js/login.js" defer></script> -->
</head>
<body>
    <%- include ("./partials/nav.ejs") %>

      <!-- <section class="position">

          <div class="center">
              <h1>Login page</h1>
              <form  action="./login" method="post">
                  <div class="forms">
                      
                      <div class="inputbox">
                        <input type="text" required="required" name="username"  class="tb" >
                        <span>Email</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" required="required" name="password"  class="tb">
                        <span>Password</span>
                    </div>
              </div>
    <div class="btn">
        <div class="inputbox">
            <button class="button" type="submit" value="Submit" >
        </div>
        <div class="inputbox">
            <input class="button" type="button" value="Reset" >
        </div>
    </div>
            </form>
          </div>
        </div> -->
    <!-- </section> -->
    <section>
<h1>login for user</h1>
        <form action="/login" method="post">
            <label for="user">username</label>
            <input type="text" name="username_guest">
            <label for="pass">password</label>
            <input type="text" name="password_guest">
            <button type="submit">send</button>
        </form>
        <h2>login for employees</h2>
        <form action="/login" method="post">
            <label for="user">username</label>
            <input type="text" name="username_employees">
            <label for="pass">password</label>
            <input type="text" name="password_employees">
            <button type="submit">send</button>
        </form>
    </section>


</body>
</html>