<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author = "Adis Aljic">
    <title>Login</title>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
    <!-- <script src="../js/login.js" defer></script> -->
</head>
<body>
    <div>
        
        <%- include ("./partials/nav.ejs") %>
    </div>
  
<div class="wrongpass">

    <h1 >Wrong username or Password</h1 
        <p> If you are guest please click  <a class="wrongpasslink" href="/login">Login</a> to try again
         </p>
         <br>
         <p> If you are employee please click  <a class="wrongpasslink" href="/admin">Login</a> to try again
          </p>
        </div>
        


</body>
</html>